@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*
#c5ebd6 
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e  
*/

:root{
    --cor0: #c5ebd6; 
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00a0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.281);
    padding-bottom: 10px;
    font-weight: normal;
}

header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.281);
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: var(--cor1);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 850px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 5px;
}

main h3 {
    color:var(--cor5);
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

div.video
{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px; 
    padding: 20px;
    padding-bottom: 59%;

    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main .pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);

}

aside > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    color: white;
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-size: 1.em;
    font-weight: normal;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding: 2px;

}

footer a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
}

footer a:hover{
    color: var(--cor0);
    text-decoration: underline;

}






